<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Welcome to my portfolio</h1>
    <br />

    @Html.ActionLink("Home", "Index", "Home");
    <br />
    @Html.ActionLink("Education", "Education", "Home");
    <br />
    @Html.ActionLink("Projects", "Projects", "Home");
    <br />
    @Html.ActionLink("Reference", "Reference", "Home");
    <br />
    @Html.ActionLink("PersonalInfo", "PersonalInfo", "Home");
    <br />



    <div>
        @RenderBody()
    </div>
</body>
</html>
